################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/Backend/appsettings.Development.json
Backend/Backend/appsettings.Development.json
